<h1>Ask the Coach!</h1>
<p>Coach Rogerio Ceni</p>

    <form action="/answer">
      <label for="question">Speak to your coach</label>
      <input type="text" id="query" name="query" placeholder="what time is it?">
      <input type="submit" value="Go on!">
    </form>
